.DS_Store
__pycache__/
reports/*
test-results

htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/


profile_default/
ipython_config.py


__pypackages__/
.env
.venv
env/
venv/

.idea/


